/build/
/cmake-build-*/
/results/
/out/
CMakeUserPresets.json
compile_commands.json
*.user
.cache/
.idea/
.vscode/
*.bin
perf.data*
*.o
*.a
.DS_Store
perf-baseline.txt
time-baseline.txt
time-after.txt
